* {
    margin: 0;
    padding: 0;
}

img {
    width: max-content;
    height: max-content;
}

.searchinput label {
    display: none;
}

.searchinput {
    text-align: center;
    margin: 0 auto;
}

.weatherinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.windinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}